/* line 3, ../../../scripts/sass/partials/_beer.scss */
.beers-container {
  display: flex;
  flex-direction: row;
}
/* line 8, ../../../scripts/sass/partials/_beer.scss */
.beers-container .beer-container {
  flex-basis: 20vw;
  padding: 1.5em;
}
