/* line 3, ../../../scripts/sass/partials/_calendar.scss */
.calendar {
  width: 80%;
  min-height: 360px;
  min-width: 360px;
  margin: auto;
}
/* line 9, ../../../scripts/sass/partials/_calendar.scss */
.calendar nav {
  display: flex;
  font-size: 1.7em;
  line-height: 1.7em;
}
/* line 14, ../../../scripts/sass/partials/_calendar.scss */
.calendar nav > header {
  width: 80%;
  flex-grow: 1;
  padding: 0 4em;
}
/* line 19, ../../../scripts/sass/partials/_calendar.scss */
.calendar nav > header .month-year {
  color: #64697d;
  padding-right: 1.5em;
  font-weight: 800;
}
/* line 25, ../../../scripts/sass/partials/_calendar.scss */
.calendar nav > header .info-text {
  font-size: 0.5em;
  vertical-align: middle;
}
/* line 31, ../../../scripts/sass/partials/_calendar.scss */
.calendar nav .nav-left,
.calendar nav .nav-right {
  vertical-align: middle;
  font-size: 0.75em;
  border: none;
  background: none;
  color: #747474;
}
/* line 39, ../../../scripts/sass/partials/_calendar.scss */
.calendar nav .nav-left:hover, .calendar nav .nav-left:focus,
.calendar nav .nav-right:hover,
.calendar nav .nav-right:focus {
  outline: none;
  color: #3c3c3c;
}
/* line 45, ../../../scripts/sass/partials/_calendar.scss */
.calendar nav .nav-left:hover,
.calendar nav .nav-right:hover {
  cursor: pointer;
}
/* line 50, ../../../scripts/sass/partials/_calendar.scss */
.calendar nav .nav-left {
  text-align: left;
}
/* line 54, ../../../scripts/sass/partials/_calendar.scss */
.calendar nav .nav-right {
  text-align: right;
}
/* line 59, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container {
  font-size: 1.5em;
}
/* line 62, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container > header {
  display: flex;
  padding: 1em 0 0;
}
/* line 66, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container > header div {
  font-size: 0.75em;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 1em;
  flex: 1;
  text-align: center;
  border-bottom: 2px solid #ff8518;
}
/* line 78, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container .calendar-body .week {
  display: flex;
  min-height: 9vw;
}
/* line 82, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container .calendar-body .week > div {
  flex: 1;
  padding: 0.5em;
}
/* line 87, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container .calendar-body .week > div.different-month .date {
  color: #747474;
}
/* line 92, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container .calendar-body .week > div.today {
  background: ghostwhite;
}
/* line 96, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container .calendar-body .week > div:hover {
  background: ghostwhite;
  cursor: pointer;
  box-shadow: 2px 2px 2px #747474;
}
/* line 102, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container .calendar-body .week > div .date {
  font-weight: 800;
}
/* line 106, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container .calendar-body .week > div ul {
  list-style-type: none;
  margin: 0.5em 0 0;
  padding: 0;
}
/* line 111, ../../../scripts/sass/partials/_calendar.scss */
.calendar .calendar-container .calendar-body .week > div ul li {
  font-size: 70%;
  list-style-type: none;
}
