/* line 1, ../../../scripts/sass/modules/_dialogs.scss */
.dialog,
.dialog-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 9, ../../../scripts/sass/modules/_dialogs.scss */
.dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/* line 17, ../../../scripts/sass/modules/_dialogs.scss */
.dialog.sticky-top {
  align-items: flex-start;
}

/* line 21, ../../../scripts/sass/modules/_dialogs.scss */
.dialog.sticky-bottom {
  align-items: flex-end;
}

/* line 25, ../../../scripts/sass/modules/_dialogs.scss */
.dialog-overlay {
  position: absolute;
  z-index: 1;
  background: rgba(55, 58, 71, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 36, ../../../scripts/sass/modules/_dialogs.scss */
.dialog-open .dialog-overlay {
  opacity: 0.7;
  pointer-events: auto;
}

/* line 41, ../../../scripts/sass/modules/_dialogs.scss */
.dialog-content {
  width: 50%;
  max-width: 560px;
  min-width: 290px;
  background: #fff;
  position: relative;
  z-index: 5;
  opacity: 0;
}
/* line 50, ../../../scripts/sass/modules/_dialogs.scss */
.dialog-content .header {
  padding: 0.5em 1em;
  min-height: 1em;
}
/* line 54, ../../../scripts/sass/modules/_dialogs.scss */
.dialog-content .header > * {
  line-height: 1.5em;
}

/* line 60, ../../../scripts/sass/modules/_dialogs.scss */
.dialog.header-bar .header {
  border-bottom: 2px solid #747474;
}

/* line 64, ../../../scripts/sass/modules/_dialogs.scss */
.dialog-content .content {
  padding: 0 4em 4em;
}

/* line 68, ../../../scripts/sass/modules/_dialogs.scss */
.dialog.dialog-open .dialog-content,
.dialog.dialog-close .dialog-content {
  opacity: 1;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 76, ../../../scripts/sass/modules/_dialogs.scss */
.dialog.dialog-close .dialog-content {
  -webkit-animation-name: anim-close-dialog;
  animation-name: anim-close-dialog;
}

/* line 80, ../../../scripts/sass/modules/_dialogs.scss */
.dialog-open .dialog-content {
  pointer-events: auto;
  -webkit-animation-name: anim-open-dialog;
  animation-name: anim-open-dialog;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* line 87, ../../../scripts/sass/modules/_dialogs.scss */
.dialog .fa.fa-times {
  color: #bdc3c7;
}
/* line 90, ../../../scripts/sass/modules/_dialogs.scss */
.dialog .fa.fa-times:hover {
  outline: none;
  opacity: 0.8;
}

/* line 96, ../../../scripts/sass/modules/_dialogs.scss */
.dialog .dialog-close {
  float: right;
}

/* line 100, ../../../scripts/sass/modules/_dialogs.scss */
.dialog-title {
  margin: 0;
}

@-webkit-keyframes anim-open-dialog {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes anim-open-dialog {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes anim-close-dialog {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
  }
}
@keyframes anim-close-dialog {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
/* line 4, ../../../scripts/sass/layouts/_header.scss */
html,
body {
  height: 100%;
  margin: 0;
}

/* line 14, ../../../scripts/sass/layouts/_header.scss */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 84px 0;
  width: 100%;
}
/* line 26, ../../../scripts/sass/layouts/_header.scss */
.navbar > * {
  flex-grow: 1;
  flex-basis: 200px;
  height: 70px;
  background-color: #0074d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 36, ../../../scripts/sass/layouts/_header.scss */
.navbar .logo-container {
  flex-basis: 250px;
  flex-grow: 0;
}
/* line 40, ../../../scripts/sass/layouts/_header.scss */
.navbar .logo-container .logo {
  border-radius: 50%;
  background-color: #0074d9;
}
/* line 46, ../../../scripts/sass/layouts/_header.scss */
.navbar.sticky {
  position: fixed;
  padding: 0;
  font-size: 1em;
}
/* line 51, ../../../scripts/sass/layouts/_header.scss */
.navbar.sticky > * {
  height: 50px;
}
/* line 55, ../../../scripts/sass/layouts/_header.scss */
.navbar.sticky .logo-container .logo {
  display: none;
}

/*
header.header {
  background-color: $ghost-white;

  .wrapper {
    width: 100%;
    padding: 0;

    > div {
      display: inline-block;
      vertical-align: top;
    }

    .brand {
      font-size: 3.5em;
      width: 20%;
    }
    
    .marquee {
      position: relative;
      background-color: #fff;
      height: 160px;
      width: 60%;
      margin: auto;
      overflow: hidden;

      @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        z-index: 1;
      }

      &:before {
        left: 0;

        @include background-gradient(left, $white-1, $white-0);
      }

      &:after {
        right: 0;

        @include background-gradient(left, $white-0, $white-1);
      }

      > .slide {
        background: url('../imgs/header.png');
        width: $header-img-size;
        height: 100%;

        @include transition(opacity 0.5s ease-out);
        @include animation(move-slideshow 30s linear infinite);

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .navbar {
    background-color: $primary-compliment-color;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1.5em;
    line-height: 2;
    padding: 0.3em 0;
    z-index: 99999;


    @include transition(all 0.4s ease);

    &.sticky {
      position: fixed;
      top: 0;
      font-size: 1.2em;
    }
  }
}

.navigation {
  display: flex;
  margin: 0;
  flex-grow: 1;

  li {
    list-style: none;
    margin: 0 1em;
    color: #fff;

    a {
      color: #fff;
      font-weight: 700;
    }

  }
}


@include keyframes(move-slideshow) {
  0% {
    @include transform(translateX(0));
  }

  50% {
    @include transform(translateX(-41px));
  }

  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(move-slideshow-media) {
  0% {
    @include transform(translateX(0));
  }

  50% {
    @include transform(translateX(-850px));
  }

  100% {
    @include transform(translateX(0));
  }
}

@media (max-width: 1490px) {
  .header .wrapper .brand {
    font-size: 2.5em;
  }

  .header .wrapper .marquee > .slide {
    @include animation(move-slideshow-media 60s linear infinite);
  }
}

@media (max-width: 880px) {
  .header .navbar .search-form {
    margin: 0;
  }
}
*/
/* line 5, ../../../scripts/sass/layouts/_content.scss */
.content.sticky {
  padding-top: 228px;
}
/* line 9, ../../../scripts/sass/layouts/_content.scss */
.content p.lorem-ipsum {
  display: none;
  margin: auto;
  max-width: 680px;
  line-height: 1.2;
  font-size: 2em;
  padding: 1em 0;
}

/* line 4, ../../../scripts/sass/partials/_inputs.scss */
input {
  font-size: inherit;
  line-height: inherit;
}

/* line 10, ../../../scripts/sass/partials/_inputs.scss */
.search-box {
  position: relative;
}
/* line 13, ../../../scripts/sass/partials/_inputs.scss */
.search-box label.filter-by {
  position: absolute;
  left: 0.5em;
}
/* line 18, ../../../scripts/sass/partials/_inputs.scss */
.search-box input.search {
  padding: 0.3em 1.8em;
  border-radius: 35px;
  border-color: #0074d9;
  -webkit-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -moz-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}
/* line 24, ../../../scripts/sass/partials/_inputs.scss */
.search-box input.search:focus {
  outline: none;
  border-color: #001f3f;
}
/* line 30, ../../../scripts/sass/partials/_inputs.scss */
.search-box button.clear {
  position: absolute;
  top: 0;
  right: 0.3em;
  border: none;
  background: transparent;
  color: #bdc3c7;
}
/* line 38, ../../../scripts/sass/partials/_inputs.scss */
.search-box button.clear:hover, .search-box button.clear:focus {
  opacity: 0.6;
  outline: none;
}

/* line 3, ../../../scripts/sass/partials/_buttons.scss */
button,
input[type="button"],
input[type="submit"] {
  font: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
}

/* line 12, ../../../scripts/sass/partials/_buttons.scss */
button.fa,
input[type="button"].fa,
input[type="submit"].fa,
.btn-icon-text {
  background-color: transparent;
}
/* line 18, ../../../scripts/sass/partials/_buttons.scss */
button.fa:focus,
input[type="button"].fa:focus,
input[type="submit"].fa:focus,
.btn-icon-text:focus {
  outline: none;
}

/* line 23, ../../../scripts/sass/partials/_buttons.scss */
button.fa,
input[type="button"].fa,
input[type="submit"].fa {
  border: none;
}

/* line 29, ../../../scripts/sass/partials/_buttons.scss */
.btn-icon-text {
  border-radius: 10px;
  border: 3px solid #fff;
  margin: 0 0.5em;
  flex-basis: 170px;
}
/* line 35, ../../../scripts/sass/partials/_buttons.scss */
.btn-icon-text > span {
  vertical-align: middle;
}
/* line 38, ../../../scripts/sass/partials/_buttons.scss */
.btn-icon-text > span.fa {
  padding-right: 0.5em;
  font-size: 120%;
}

/* line 5, ../../../scripts/sass/partials/_links.scss */
a.icon-link span:nth-child(2) {
  margin-left: 0.5em;
}

/* line 10, ../../../scripts/sass/main.scss */
.meta {
  visibility: hidden;
}

/* line 15, ../../../scripts/sass/main.scss */
.search-container {
  line-height: 200%;
}
/* line 18, ../../../scripts/sass/main.scss */
.search-container > * {
  border: 0;
}
/* line 22, ../../../scripts/sass/main.scss */
.search-container input[type="text"] {
  padding: 0 1em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-basis: 500px;
}
/* line 28, ../../../scripts/sass/main.scss */
.search-container input[type="text"]:focus {
  outline: none;
}
/* line 33, ../../../scripts/sass/main.scss */
.search-container .search {
  padding: 0 1em 0 1.5em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #1303a1;
}
