@mixin background-gradient($dir, $color1, $color2) {
  background: -webkit-linear-gradient($dir, $color1, $color2);
  background:    -moz-linear-gradient($dir, $color1, $color2);
  background:         linear-gradient($dir, $color1, $color2);
}


@mixin transform($anim) {
  -webkit-transform: $anim;
     -moz-transform: $anim;
          transform: $anim;
}

@mixin transition($transition, $transition2:null) {
  @if $transition2 != null {
    -webkit-transition: $transition, $transition2;
       -moz-transition: $transition, $transition2;
            transition: $transition, $transition2;
  } @else {
    -webkit-transition: $transition;
       -moz-transition: $transition;
            transition: $transition;
  }
}

@mixin animation($animation) {
  -webkit-animation: $animation;
     -moz-animation: $animation;
          animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin anim-duration($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
          animation-delay: $time;
}

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
     -moz-backface-visibility: $visibility;
          backface-visibility: $visibility;
}
@mixin opacity-transition($time) {
  -webkit-transition: opacity $time;
     -moz-transition: opacity $time;
          transition: opacity $time;
}
@mixin transition-duration($time) {
  -webkit-transition-duration: $time;
     -moz-transition-duration: $time;
          transition-duration: $time;
}

@mixin animation-duration($time) {
  -webkit-animation-duration: $time;
     -moz-animation-duration: $time;
          animation-duration: $time;
}

@mixin animation-fill-mode($direction) {
  -webkit-animation-fill-mode: $direction;
          animation-fill-mode: $direction;
}

@mixin animation-timing-function($fn) {
  -webkit-animation-timing-function: $fn;
          animation-timing-function: $fn;
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
          animation-name: $name;
}
