<!--
<div class="calendar">
  <nav>
    <button class="nav-left fa fa-chevron-left" ng-click="previous()"></button>
    <header>
      <span class="month-year">March 2015</span>
      <span class="info-text">Click on a date to view more info</span>
    </header>
    <button class="nav-right fa fa-chevron-right" ng-click="next()"></button>
  </nav>
  <div class="calendar-container">
    <header>
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </header>

    <div class="calendar-body">
      <div class="week" ng-repeat="week in weeks">
        <div ng-repeat="day in week.days">
          <header>
            <span class="date" ng-class="{ 'different-month': !day.isCurrentMonth, today: day.isToday}">{{ day.number }}</span>
            <span class="meta">{{ day.dayOfWeek }}</span>
          </header>
          <ul>
            <li ng-repeat="event in day.events">{{ event }}</li>
          </ul>
        </div>
      </div>
      -->
      <!--
      <div class="week" ng-repeat="i in [0,0,0,0,0] track by $index">
        <div>
          <header>
            <span class="date">{{ $index * 7 + 1 }}</span>
            <span class="weekday">Sun</span>
          </header>
          <ul>
            <li>Oat Of This World Stout</li>
            <li>Tru Hefe</li>
          </ul>
        </div>

        <div>
          <span class="date">{{ $index * 7 + 2 }}</span>
          <span class="weekday">Mon</span>
        </div>

        <div>
          <span class="date">{{ $index * 7 + 3 }}</span>
          <span class="weekday">Tue</span>
        </div>

        <div>
          <span class="date">{{ $index * 7 + 4 }}</span>
          <span class="weekday">Wed</span>
        </div>

        <div>
          <span class="date">{{ $index * 7 + 5 }}</span>
          <span class="weekday">Thu</span>
        </div>

        <div>
          <span class="date">{{ $index * 7 + 6 }}</span>
          <span class="weekday">Fri</span>
        </div>

        <div>
          <span class="date">{{ $index * 7 + 7 }}</span>
          <span class="weekday">Sat</span>
        </div>
      </div>
      -->
      <!--
    </div>
  </div>
</div>
-->

<calendar current="currentDate"></calendar>
