content {
  display: block;
}

.dashboard {
  padding-top: 1em;
  @extend .container-fluid;

  .left-components {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-8;
    @extend .col-lg-9;
  }

  .right-components {
    height: 95vh;
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-3;
  }
}

.contacts {
  height: 100%;
  color: $text-color;
  background-color: lighten($grey-base, 31%);
  display: flex;
  flex-direction: column;
  @include box-shadow();
  
  > header {
    padding: 0.5em 1em;
    background: linear-gradient(to top, lighten($grey-base, 10%) 50%, lighten($light-blue-base, 33%) 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
    flex-shrink: 0;


    &.toggled {
      background-position: 0 0;
    }


    .title {
      display: inline-block;
      font-size: 1.4em;
      font-weight: bold;
    }

    .selected-amount {
      margin-right: 1.5em;
      font-size: 1.2em;

      @extend .pull-right;
    }

    .dd-menu-items {
      font-size: $font-size-base;
    }
  }

  > content {
    height: 100%;
    flex-shrink: 1;
    padding: 1em 0.5em 0.5em;
    display: flex;
    flex-direction: column;

    .input-underline-container {
      flex-shrink: 0;
      padding-bottom: 1em;
    }

    .contacts-container {
      overflow-y: auto;
      flex-grow: 1;
    }

    ol {
      @extend .list-unstyled;
      @include box-shadow();

      > li {
        display: flex;
        padding: .25em 1em;
        background-color: $white-base;
        margin: 2px 0;
        transition: border 0.2s ease-in-out;
        border-left: 0 solid $blue-base;

        &:focus {
          outline: none;
        }


        &.selected,
        &:focus:not(.elevator) {
          border-left-width: 3px;
        }

        &.active,
        &.selected,
        &:focus {
          > .left {

            > img {
              display: none;
            }

            > button {
              display: block;
            }
          }
        }

        &:last-child {
          border-bottom: none;
        }

        &.elevator {
          padding: 4em 1em;
          font-weight: 600;
          justify-content: center;
          &.elevating,
          &:hover {
            background-color: $dull-grey-blue;
          }
        }

        > .left {
          flex-shrink: 0;
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;

          > img {
            width: 60px;
            display: inline-block;
            // Sadly doesn't work for IE or FF. they don't apply clip-path to anything except svg?
            clip-path: circle(30px at center);
            @extend .img-circle; // *Sort* of the same for IE and FF

            @extend .img-responsive;
          }

          > button {
            display: none;
            padding: 12px 1em;
            width: 60px;

            @extend .icon-btn;
            
            .fa {
              font-size: 2.5em;
            }
          }
        }

        > .info {
          flex-grow: 1;
          padding: 1em;
          vertical-align: middle;
          white-space: nowrap;
          width: 70%;

          > div {
            text-overflow: ellipsis;
            overflow: hidden;
            &:first-child {
              font-weight: bold;
              font-size: 1.2em;
            }
          }
        }

        > .dd-menu {
          flex-shrink: 0;
          display: flex;
          align-items: center;

          > button {
            font-size: 1.5em;
            padding: 12px 1em;

            &.tab-focus {
              clip: circle(35% at center);
            }
          }

          .dd-menu-items {
            top: calc(100% - 1em);
            right: 12px;
          }
        }
      }
    }
  }

  > footer {

  }
}


.hidden {
  display: none !important;
}
