@import url(http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Patua+One);
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);

html,
body,
body > div {
  height: 100%;
}

body {
  width: 100%;
  overflow: hidden;
}
