.main-nav-btn {
  position: fixed;
  top: 0;
  z-index: 9;
  transition: transform 0.4s;
  transform: translate3d(0, 0, 0);

  &:not(.hamburger-open) {
    @extend .hamburger-btn-lg;
  }

  &.hamburger-open {
    transform: translate3d(260px, 5px, 0);
    .left-bars, .right-bars {
      &:before, &:after {
        background-color: #b8b7ad;
      }
    }
  }
}

.nav-wrapper {
  top: 0;
  position: fixed;
  width: 300px;
  height: 100%;
  color: #b8b7ad;
  z-index: 5;
}

.main-nav {
  background: #373a47;
  height: 100%;
  padding-top: 40px;
  
  > a {
    font-size: 1.5em;
    display: block;
    padding: 0.8em 2em;
    color: #b8b7ad;
    text-decoration: none;

    &:hover {
      color: #c94e50;
    }
    > .fa {
      padding-right: 0.5em;
    }
  }
}

.slide-nav-enter {
  transition: transform 0.4s;
  transform: translateX(-300px);
  
  &.slide-nav-enter-active {
    transform: translateX(0);
  }
}

.slide-nav-leave {
  transition: transform 0.4s;
  transform: translateX(0);
  
  &.slide-nav-leave-active {
    transform: translateX(-300px);

  }
}
