@import "vendors/normalize-scss-vanilla/normalize";
@import "vendors/bootstrap/bootstrap";
@import "vendors/font-awesome/font-awesome";


@import "helpers/variables";
@import "helpers/animations";
@import "helpers/mixins";
@import "helpers/commons";

@import "components/dropdown-menu";
@import "components/buttons";
@import "components/hamburger-menu";
@import "components/inputs";
@import "components/on-off-switch";

@import "pages/beers";

@import "layout/content";
