@import "vendors/normalize-scss-vanilla/normalize";
@import "vendors/bootstrap/bootstrap";
@import "vendors/font-awesome/font-awesome";

//@import "../../../../node_modules/normalize-scss-vanilla/normalize";
//@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "../../../../node_modules/font-awesome/scss/font-awesome";


@import "helpers/variables";
@import "helpers/animations";
@import "helpers/mixins";
@import "helpers/commons";

@import "components/dropdown-menu";
@import "components/buttons";
@import "components/hamburger-menu";
@import "components/inputs";
@import "components/on-off-switch";
@import "components/navigation";

@import "pages/beers";

@import "layout/content";
