@import "modules/colors";

.content {

  &.sticky {
    padding-top: $logo-height;
  }

  p.lorem-ipsum {
    display: none;
    margin: auto;
    max-width: 680px;
    line-height: 1.2;
    font-size: 2em;
    padding: 1em 0;
  }

}
