$aqua: #76c3bd;
$blue: #0074d9;
$light-blue: #3390e1;
$teal: #7fdbff;
$green: #2ecc40;
$lime: #01ff70;
$orange: #ff8518;
$red: #ff4136;
$navy: #001f3f;
$navy-green: #478982;
$fuchsia: #f102be;
$purple: #b10dc9;
$white: #f9f6e5;
$ghost-white: rgba(248, 248, 255, 100);
$black: #000;
$light-gray: #747474;
$dark-gray: #3c3c3c;

$primary-color: $orange;
$primary-compliment-color: $blue;

$secondary-color: $green;
$secondary-compliment-color: $red;

$white-0: rgba(255, 255, 255, 0);
$white-1: rgba(255, 255, 255, 100);


$very-light-gray: #bdc3c7;
