@import url(http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Patua+One);
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
.dialog,
.dialog-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.dialog.sticky-top {
  align-items: flex-start;
}

.dialog.sticky-bottom {
  align-items: flex-end;
}

.dialog-overlay {
  position: absolute;
  z-index: 1;
  background: rgba(55, 58, 71, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.dialog-open .dialog-overlay {
  opacity: 0.7;
  pointer-events: auto;
}

.dialog-content {
  width: 50%;
  max-width: 560px;
  min-width: 290px;
  background: #fff;
  position: relative;
  z-index: 5;
  opacity: 0;
  box-shadow: 0 0 5px #001f3f;
}
.dialog-content .header {
  padding: 0.5em 1em;
  min-height: 1em;
}
.dialog-content .header > * {
  line-height: 1.5em;
}

.dialog.header-bar .header {
  border-bottom: 2px solid #747474;
}

.dialog-content .content {
  padding: 0 4em 4em;
}

.dialog.dialog-open .dialog-content,
.dialog.dialog-close .dialog-content {
  opacity: 1;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dialog.dialog-close .dialog-content {
  -webkit-animation-name: anim-close-dialog;
  animation-name: anim-close-dialog;
}

.dialog-open .dialog-content {
  pointer-events: auto;
  -webkit-animation-name: anim-open-dialog;
  animation-name: anim-open-dialog;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.dialog .fa.fa-times {
  color: #bdc3c7;
}
.dialog .fa.fa-times:hover {
  outline: none;
  opacity: 0.8;
}

.dialog .dialog-close {
  float: right;
}

.dialog-title {
  margin: 0;
}

@-webkit-keyframes anim-open-dialog {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes anim-open-dialog {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes anim-close-dialog {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
  }
}
@keyframes anim-close-dialog {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
html,
body {
  height: 100%;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  font-size: 1em;
  line-height: 1.8;
  padding: 84px 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.navbar > * {
  flex-grow: 1;
  flex-basis: 200px;
  height: 70px;
  background-color: #455D88;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar .logo-container {
  flex-basis: 250px;
  flex-grow: 0;
}
.navbar .logo-container .marquee {
  position: relative;
  width: 228px;
  height: 228px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-clip-path: circle(114px at 114px);
  clip-path: circle(114px at 114px);
}
.navbar .logo-container .marquee > * {
  height: 100%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transition-property: opacity, border;
  -moz-transition-property: opacity, border;
  transition-property: opacity, border;
}
.navbar .logo-container .marquee .overlay {
  position: absolute;
  opacity: 0.46;
  background-color: #455D88;
  width: 100%;
  z-index: 3;
}
.navbar .logo-container .marquee .slider {
  -webkit-animation: move-slideshow 120s linear 5;
  -moz-animation: move-slideshow 120s linear 5;
  animation: move-slideshow 120s linear 5;
}
.navbar .logo-container .marquee .logo {
  position: absolute;
  border: 6px solid #fff;
  border-radius: 50%;
  top: 6px;
  left: 6px;
  height: 204px;
  width: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  line-height: initial;
}
.navbar .logo-container .marquee .logo span:first-child {
  font-family: 'Berkshire Swash', cursive;
  font-size: 45px;
}
.navbar .logo-container .marquee .logo span:last-child {
  font-size: 0.75em;
  letter-spacing: 2.7px;
  font-family: Cambria, Georgia, serif;
  text-transform: uppercase;
}
.navbar.sticky {
  position: fixed;
  padding: 0;
  font-size: 0.9em;
  line-height: 1.6;
  z-index: 8;
}
.navbar.sticky > *, .navbar.sticky .logo-container .logo {
  height: 50px;
}
.navbar.sticky .logo-container .marquee .slider,
.navbar.sticky .logo-container .marquee .overlay {
  opacity: 0;
}
.navbar.sticky .logo-container .marquee .logo {
  border: none;
  top: 88px;
  left: 0;
  width: 100%;
}
.navbar.sticky .logo-container .marquee .logo span:first-child {
  font-size: 36px;
}
.navbar.sticky .logo-container .marquee .logo span:last-child {
  display: none;
}

@media (max-width: 960px) {
  .navbar {
    display: block;
    padding-top: 0;
  }
  .navbar .logo-container {
    display: block;
  }
  .navbar .logo-container .marquee {
    -webkit-clip-path: none;
    clip-path: none;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .navbar .logo-container .marquee .overlay, .navbar .logo-container .marquee .slider {
    display: none;
  }
  .navbar .logo-container .marquee .logo {
    position: initial;
    border: none;
  }
  .navbar.sticky .logo-container {
    display: none;
  }
}
@-webkit-keyframes move-slideshow {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1834.44375px);
    -moz-transform: translateX(-1834.44375px);
    transform: translateX(-1834.44375px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes move-slideshow {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1834.44375px);
    -moz-transform: translateX(-1834.44375px);
    transform: translateX(-1834.44375px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes move-slideshow {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1834.44375px);
    -moz-transform: translateX(-1834.44375px);
    transform: translateX(-1834.44375px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes move-slideshow-media {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1100.66625px);
    -moz-transform: translateX(-1100.66625px);
    transform: translateX(-1100.66625px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes move-slideshow-media {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1100.66625px);
    -moz-transform: translateX(-1100.66625px);
    transform: translateX(-1100.66625px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes move-slideshow-media {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1100.66625px);
    -moz-transform: translateX(-1100.66625px);
    transform: translateX(-1100.66625px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
.content.sticky {
  padding-top: 228px;
}
.content p.lorem-ipsum {
  display: none;
  margin: auto;
  max-width: 680px;
  line-height: 1.2;
  font-size: 2em;
  padding: 1em 0;
}

input {
  font: inherit;
  line-height: inherit;
}

.search-box {
  position: relative;
}
.search-box label.filter-by {
  position: absolute;
  left: 0.5em;
}
.search-box input.search {
  padding: 0.3em 1.8em;
  border-radius: 35px;
  border-color: #0074d9;
  -webkit-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -moz-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}
.search-box input.search:focus {
  outline: none;
  border-color: #001f3f;
}
.search-box button.clear {
  position: absolute;
  top: 0;
  right: 0.3em;
  border: none;
  background: transparent;
  color: #bdc3c7;
}
.search-box button.clear:hover, .search-box button.clear:focus {
  opacity: 0.6;
  outline: none;
}

button,
input[type="button"],
input[type="submit"] {
  font: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
}

button.fa,
input[type="button"].fa,
input[type="submit"].fa,
.btn-icon-text {
  background-color: transparent;
}
button.fa:focus,
input[type="button"].fa:focus,
input[type="submit"].fa:focus,
.btn-icon-text:focus {
  outline: none;
}

button.fa,
input[type="button"].fa,
input[type="submit"].fa {
  border: none;
}

.btn-icon-text {
  border-radius: 10px;
  border: 3px solid #fff;
  margin: 0 0.5em;
  flex-basis: 170px;
}
.btn-icon-text > span {
  vertical-align: middle;
}
.btn-icon-text > span.fa {
  padding-right: 0.5em;
  font-size: 120%;
}

a.icon-link span:nth-child(2) {
  margin-left: 0.5em;
}

.meta {
  visibility: hidden;
}

.search-container {
  line-height: 200%;
}
.search-container > * {
  border: 0;
}
.search-container input[type="text"] {
  padding: 0 1em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-basis: 500px;
}
.search-container input[type="text"]:focus {
  outline: none;
}
.search-container .search {
  padding: 0 1em 0 1.5em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #0074d9;
}
