@import "modules/colors";
@import "modules/mixins";

html,
body {
  height: 100%;
  margin: 0;
}

$navbar-bar-height: 70px;
$logo-height: 228px;
$navbar-vertical-padding: ($logo-height + 10 - $navbar-bar-height) / 2;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: $navbar-vertical-padding 0;

  > * {
    flex-grow: 1;
    flex-basis: 200px;
    height: $navbar-bar-height;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    flex-basis: 250px;
    flex-grow: 0;

    .logo {
      border-radius: 50%;
      background-color: $blue;
    }
  }

}


/*
header.header {
  background-color: $ghost-white;

  .wrapper {
    width: 100%;
    padding: 0;

    > div {
      display: inline-block;
      vertical-align: top;
    }

    .brand {
      font-size: 3.5em;
      width: 20%;
    }
    
    .marquee {
      position: relative;
      background-color: #fff;
      height: 160px;
      width: 60%;
      margin: auto;
      overflow: hidden;

      @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        z-index: 1;
      }

      &:before {
        left: 0;

        @include background-gradient(left, $white-1, $white-0);
      }

      &:after {
        right: 0;

        @include background-gradient(left, $white-0, $white-1);
      }

      > .slide {
        background: url('../imgs/header.png');
        width: $header-img-size;
        height: 100%;

        @include transition(opacity 0.5s ease-out);
        @include animation(move-slideshow 30s linear infinite);

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .navbar {
    background-color: $primary-compliment-color;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1.5em;
    line-height: 2;
    padding: 0.3em 0;
    z-index: 99999;


    @include transition(all 0.4s ease);

    &.sticky {
      position: fixed;
      top: 0;
      font-size: 1.2em;
    }
  }
}

.navigation {
  display: flex;
  margin: 0;
  flex-grow: 1;

  li {
    list-style: none;
    margin: 0 1em;
    color: #fff;

    a {
      color: #fff;
      font-weight: 700;
    }

  }
}


@include keyframes(move-slideshow) {
  0% {
    @include transform(translateX(0));
  }

  50% {
    @include transform(translateX(#{(1104 - 1145px)}));
  }

  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(move-slideshow-media) {
  0% {
    @include transform(translateX(0));
  }

  50% {
    @include transform(translateX(-850px));
  }

  100% {
    @include transform(translateX(0));
  }
}

@media (max-width: 1490px) {
  .header .wrapper .brand {
    font-size: 2.5em;
  }

  .header .wrapper .marquee > .slide {
    @include animation(move-slideshow-media 60s linear infinite);
  }
}

@media (max-width: 880px) {
  .header .navbar .search-form {
    margin: 0;
  }
}
*/
