@import "modules/colors";
@import "modules/mixins";

html,
body {
  height: 100%;
  margin: 0;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Patua+One);

$navbar-bar-height: 70px;
$logo-width: 227px;
$logo-height: 228px;
$navbar-vertical-padding: ($logo-height + 10 - $navbar-bar-height) / 2;
$header-img-height: 160px;
$header-img-scale: $logo-width / $header-img-height;
$header-img-size: 1453px * $header-img-scale;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  font-size: 1em;
  line-height: 1.8;
  padding: $navbar-vertical-padding 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;


  > * {
    flex-grow: 1;
    flex-basis: 200px;
    height: $navbar-bar-height;
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    @include transition(all 0.3s ease);
  }

  .logo-container {
    flex-basis: 250px;
    flex-grow: 0;
    
    .marquee {
      position: relative;
      width: $logo-height;
      height: $logo-height;
      overflow: hidden;
      
      -webkit-clip-path: circle(($logo-height / 2) at ($logo-height / 2));
      clip-path: circle(($logo-height / 2) at ($logo-height / 2));
      @include transition(all 0.3s linear);
      
      > * {
        height: 100%;
      }
      
      .overlay {
        position: absolute;
        opacity: 0.2;
        background-color: $dark-blue;
        width: 100%;
        z-index: 3;
      }
      
      .slider {
        @include animation(move-slideshow 120s linear 2);
      }
      
      .slider-overlay {
        position: absolute;
        z-index: 4;
        top: 0;
      }
    }

    .logo {
      border-radius: 50%;
      background-color: $dark-blue;

      @include transition(all 0.3s linear);

      > img {
        vertical-align: middle;
      }
    }
  }

  &.sticky {
    position: fixed;
    padding: 0;
    font-size: 0.9em;
    line-height: 1.6;
    z-index: 8;

    > * {
      height: 50px;
    }

    .logo-container .marquee {
      opacity: 0;
    }
  }

}

@media (max-width: 960px) {
  .navbar {
    display: block;
    padding-top: $logo-height * .6 - 15;
    
    .logo-container {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: transparent;
      height: $logo-height * .6;
      width: $logo-width *.6;
      margin: 0 auto;
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@include keyframes(move-slideshow) {
  0% {
    @include transform(translateX(0));
  }

  50% {
    @include transform(translateX(-$header-img-size + $logo-width));
  }

  100% {
    @include transform(translateX(0));
  }
}
