@import "modules/colors";
@import "modules/mixins";

html,
body {
  height: 100%;
  margin: 0;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Patua+One);

$navbar-bar-height: 70px;
$logo-width: 227px;
$logo-height: 228px;
$logo-width-media: $logo-width * .6;
$logo-height-media: $logo-height * .6;
$navbar-vertical-padding: ($logo-height + 10 - $navbar-bar-height) / 2;
$header-img-height: 160px;
$header-img-scale: $logo-width / $header-img-height;
$header-img-scale-media: $logo-width-media / $header-img-height;
$header-img-size: 1453px * $header-img-scale;
$header-img-size-media: 1453px * $header-img-scale-media;
$header-clip: $logo-height / 2;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  font-size: 1em;
  line-height: 1.8;
  padding: $navbar-vertical-padding 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;


  > * {
    flex-grow: 1;
    flex-basis: 200px;
    height: $navbar-bar-height;
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    @include transition(all 0.3s ease);
  }

  .logo-container {
    flex-basis: 250px;
    flex-grow: 0;
    
    .marquee {
      position: relative;
      width: $logo-height;
      height: $logo-height;
      overflow: hidden;
      
      -webkit-clip-path: circle($header-clip at $header-clip);
      clip-path: circle($header-clip at $header-clip);
      @include transition(all 0.3s linear);
      
      > * {
        height: 100%;
      }
      
      .overlay {
        position: absolute;
        opacity: 0.2;
        background-color: $dark-blue;
        width: 100%;
        z-index: 3;
      }
      
      .slider {
        @include animation(move-slideshow 120s linear 1);
      }
      
      .slider-overlay {
        position: absolute;
        z-index: 4;
        top: 0;
      }
    }
  }

  &.sticky {
    position: fixed;
    padding: 0;
    font-size: 0.9em;
    line-height: 1.6;
    z-index: 8;

    > * {
      height: 50px;
    }

    .logo-container .marquee {
      opacity: 0;
      
      .slider {
        // slight performance boost
        @include animation(none);
      }
    }
  }

}

@media (max-width: 960px) {
  .navbar {
    display: block;
    padding-top: $logo-height * .6 - 15;
    
    .logo-container {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: transparent;
      height: $logo-height-media;
      width: $logo-width-media;
      margin: 0 auto;
      
      .marquee {
        width: 100%;
        height: 100%;
        -webkit-clip-path: circle($logo-height-media / 2 at $logo-height-media / 2);
        clip-path: circle($logo-height-media at $logo-height-media);
      
        .slider {
          @include animation(move-slideshow-media (120 * 1.6)s linear 1);
        }
        
        .slider-overlay {
          height: $logo-height-media;
        }
      }
    }
  }
}

@include keyframes(move-slideshow) {
  0% {
    @include transform(translateX(0));
  }

  50% {
    @include transform(translateX(-$header-img-size + $logo-width));
  }

  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(move-slideshow-media) {
  0% {
    @include transform(translateX(0));
  }

  50% {
    @include transform(translateX(-$header-img-size-media + $logo-width-media));
  }

  100% {
    @include transform(translateX(0));
  }
}
