@import "modules/colors";
@import "modules/mixins";

$header-img-size: 1456px;
* {
  margin: 0;
}

html,
body {
  height: 100%;
}


.header {
  background-color: $ghost-white;

  .wrapper {
    width: 100%;
    padding: 0;

    > div {
      display: inline-block;
      vertical-align: top;
    }

    .brand {
      font-size: 3.5em;
      width: 20%;
    }
    
    .marquee {
      position: relative;
      background-color: #fff;
      height: 160px;
      width: 60%;
      margin: auto;
      overflow: hidden;

      @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        z-index: 1;
      }

      &:before {
        left: 0;

        @include background-gradient(left, $white-1, $white-0);
      }

      &:after {
        right: 0;

        @include background-gradient(left, $white-0, $white-1);
      }

      > .slide {
        background: url('../imgs/header.png');
        width: $header-img-size;
        height: 100%;

        @include transition(opacity 0.5s ease-out);
        @include animation(move-slideshow 30s linear infinite);

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .navbar {
    min-height: 4em;
    background-color: $primary-compliment-color;

    width: 100%;

    @include transition(all 0.4s ease);

    &.sticky {
      position: fixed;
      top: 0;
    }
  }
}

@include keyframes(move-slideshow) {
  0% {
    @include transform(translateX(0));
  }

  50% {
    @include transform(translateX(#{(1104 - $header-img-size)}));
  }

  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(move-slideshow-media) {
  0% {
    @include transform(translateX(0));
  }

  50% {
    @include transform(translateX(-850px));
  }

  100% {
    @include transform(translateX(0));
  }
}

@media (max-width: 1490px) {
  .header .wrapper .brand {
    font-size: 2.5em;
  }

  .header .wrapper .marquee > .slide {
    @include animation(move-slideshow-media 60s linear infinite);
  }
}

