@mixin background-gradient($dir, $color1, $color2) {
  background: -webkit-linear-gradient($dir, $color1, $color2);
  background:    -moz-linear-gradient($dir, $color1, $color2);
  background:         linear-gradient($dir, $color1, $color2);
}


@mixin transform($anim) {
  -webkit-transform: $anim;
     -moz-transform: $anim;
          transform: $anim;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
          transition: $transition;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
     -moz-animation: $animation;
          animation: $animation;
  -webkit-animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}
