@import "modules/colors";

button,
input[type="button"],
input[type="submit"] {
  font: inherit;
  font-size: inherit;
  cursor: pointer;
}

button.fa,
input[type="button"].fa,
input[type="submit"].fa {
  background-color: transparent;
  border: none;
  
  &:focus {
    outline: none;
  }
}