@import "modules/colors";

.beers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 70%;
  margin: auto;
  
  .beer-container {
    flex-basis: 240px;
    padding: 1.5em;
    box-shadow: 0 3px 0;
    border-radius: 30px;
    margin: 1em 0;
    
    header {
      position: relative;
      padding-bottom: 0.5em;
      font-size: 1.3em;
      font-family: 'Patua One', cursive;
      text-align: center;
      
      &:after {
        content: '';
        width: 100%;
        position: absolute;
        height: 2px;
        bottom: 10%;
        left: 0;
        background: #fff;
      }
    }
    
    > * {
      font-family: 'Oswald', sans-serif;
      font-size: 0.9em;
      letter-spacing: .56px;
      margin: 0;
      color: #fff;
    }
    
    > div {
      text-align: center;
      
      span {
        text-transform: uppercase;
      }
      
      span.separator::before {
        content: '|';
      }
      
    }
    
    > p {
      height: 100%;
      max-height: 20em;
      overflow-y: auto;
      margin: 1em 0 0;
      

      &::-webkit-scrollbar {
        width: 12px;
      }
       
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
      }
       
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      }
    }
  }
}


.beer-amber {
  background-color: #FFC107;
  color: #FF6F00;
}

.beer-dark {
  background-color: #883C27;
  color: #4A2015;
}

.beer-light {
  background-color: #CD8129;
  color: #794C19;
}