@import "modules/all";

@import "layouts/header";
@import "layouts/content";

@import "partials/inputs";
@import "partials/buttons";
@import "partials/links";

.meta {
  visibility: hidden;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  &.around {
    justify-content: space-around;
  }
  
  &.centered {
    justify-content: center;
    align-items: center;
  }
  
  &.auto {
    > * {
      flex-grow: 1;
    }
  }
}


$search-border-radius: 20px;
.search-container {
  line-height: 200%;

  > *  {
    border: 0;
  }

  input[type="text"] {
    padding: 0 1em;
    border-top-left-radius: $search-border-radius;
    border-bottom-left-radius: $search-border-radius;
    flex-basis: 500px;

    &:focus {
      outline: none;
    }
  }

  .search {
    padding: 0 1em 0 1.5em;
    border-top-right-radius: $search-border-radius;
    border-bottom-right-radius: $search-border-radius;
    background-color: $blue;
  }
}
