@import "modules/colors";


input {
  font-size: inherit;
}


.search-box {
  position: relative;

  label.filter-by {
    position: absolute;
    left: 0.3em;
  }

  input.search {
    padding: 0.3em 1.5em;
    border-radius: 35px;
    border-color: $blue;
    @include transition(border-color ease-in-out .2s, box-shadow ease-in-out .2s);

    &:focus {
      outline: none;
      border-color: $navy;
    }
  }
  
  button.clear {
    position: absolute;
    top: 0;
    right: 0.3em;
    border: none;
    background: transparent;
    color: $light-gray;
    
    &:hover {
      color: $dark-gray;
    }
  }
}
