@import "modules/colors";

button,
input[type="button"],
input[type="submit"] {
  font: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
}

button.fa,
input[type="button"].fa,
input[type="submit"].fa,
.btn-icon-text {
  background-color: transparent;
  
  &:focus {
    outline: none;
  }
}

button.fa,
input[type="button"].fa,
input[type="submit"].fa {
  border: none;
}

.btn-icon-text {
  border-radius: 10px;
  border: 3px solid #fff;
  margin: 0 0.5em;
  flex-basis: 170px;

  > span {
    vertical-align: middle;
    
    &.fa {
      padding-right: 0.5em;
      font-size: 120%;
    }
  }
}

